.container
{
    display: grid;
    grid-template-columns: 50% auto;
}

.col{
    padding: .4em 1.3em;
}
.color-dark {
    background: rgb(57, 121, 167);
}

.color-light{
    background: rgb(143, 199, 245);
}

input.txt
{
    border: 0;
    padding: 1em;
    width: 95.5%;
    margin-bottom: 2em;
}

input.btn
{
    border:1;
    display:block;
    padding: 1em 3em;
    background: rgb(114, 248, 81);
    color: rgb(0, 15, 97);
    margin-bottom: 1em;
    cursor:pointer;
}
.life-container 
{
    background: rgb(23, 55, 197);
    padding: 0.5em;
    font-weight:bold;
    cursor: pointer;
}
.sm 
{
    background: rgb(23, 55, 197);
    padding: .5em;
    font-weight:bold;
    cursor: pointer;
}